[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
keras = '*'
atari-py = "*"
gym = "*"
box2d = "*"
box2d-kengz = "*"
jsanimation = "*"
keras-rl = "*"

[packages]
jupyter = "*"
numpy = "*"
tensorflow = ">=2"
matplotlib = "*"
pydot = "*"
pandas = ">=0.24"
sklearn = "*"
seaborn = "*"
pillow = "*"
opencv-python = "*"
bleach = ">=3.1.4"
keras = "*"
tibble = "*"
tidyr = "*"
readr = "*"
purrr = "*"
dplyr = "*"
stringr = "*"
forcats = "*"

[requires]
python_version = "3.7"
